body {
    background-color: #f3e9d1;
    font-family: "Finlandica", serif;
    font-weight: 300;
    font-style: normal;
    font-size:16px;
    margin:2em auto;
    max-width:1000px;
    padding:1em;
    line-height:1.2;
    text-align: justify;
}

.finlandica-kirjasin {
  font-family: "Finlandica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.headerdiv {

    display: flex;
	width: 100%;
	flex-wrap: nowrap; 
    white-space: nowrap; 

}

.headerfig {
    width: 50%;
}

.headernav {
    width: 39%;
}



.examples {
    font-size: 0.8em;
    font-weight: bold;
}

hr {
    margin-top: 20px;
    margin-bottom: 60px;
}


.lainaus {
    font-style: italic;
    font-size:15px;
    max-width: 700px;
    margin-left: 70px;
}


.lippulaki {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    font-style: italic;
    font-size:14px;
    max-width: 700px;
    margin-left: 70px;
}

.lippulaki p {
    width: 49%;
    text-align: justify;
}

.lippulaki2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    font-style: italic;
    font-size:14px;
    max-width: 1000px;
    margin-left: 10px;
}

.lippulaki2 p {
    width: 32%;
    text-align: justify;
}

.pykala {
    display: block;
    text-align: center;
}

.otto {
    margin-left: 100px;
    max-width: 700px;
    font-style: italic;
}

#linkit {
    font-family: "Times New Roman", serif;
    font-size: medium;
    margin-left: 50px;
}



.oikea {
    float: right;
}

.etusivun_kuvat {

    position: relative;
    text-align: center;
}

.kuvat {

    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
}



.kuvat img  {
    height: 250px;
}

.kuvat figure {
    margin: 0;
    padding: 0;
}

.kuvat2 {

    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
}



.kuvat2 img  {
    height: 200px;
}

.kuvat2 figure {
    margin: 0;
    padding: 0;
}



.kuvateksti {
    margin-left: 10px;
    font-style: italic;
    font-size: smaller;
}

.linkkiteksti{
    font-size: x-large;
    position: relative;
    width: 800px;
    margin: 0 auto;

}



.image {
    display: block;
    width: 100%;
    height: auto;

}

.overlay-text {
    font-size: x-large;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    text-decoration: none;
}


.topnav {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap; 
    white-space: nowrap; 
}

.topnav a {
    color: sienna;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    flex-shrink: 0;
}

.topnav a:hover {
    transform: scale(1.0688);
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    color: black;
}
.palkki {
    margin-left: -40px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}



nav ul li a::before {
    width: 5px;
    content: url('../muut/sormiflip.jpg');
    visibility: hidden;
    margin-right: 5px;
}

nav ul li a:hover::before {
    visibility: visible;
}



.floating-image {
            position: absolute;
            left: -400px; 
            top: 50%; 
            transform: translateY(-50%);
        }
        
span {
  float: left;
  width: 0.7em;
  font-size: 310%;
  font-family: "Finlandica", sans-serif;
  line-height: 80%;
}



